# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 3.1.x
        
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
      
    - name: Publish portal project in Release mode
      run: dotnet publish ${{ github.workspace }}/AnimalAdoption.Web.Portal/AnimalAdoption.Web.Portal.csproj --configuration Release --no-build --output ./taa-portal/
    - uses: actions/upload-artifact@v3
      with:
        name: my-artifact
        path: ${{ github.workspace }}/taa-portal/
        if-no-files-found: error

  test:
  
    runs-on: ubuntu-latest
    needs: build
    
    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 3.1.x
    - name: Test
      run: dotnet test --no-build --verbosity normal
      
  deploy:
    runs-on: ubuntu-latest
    needs: test

    steps:
    - uses: actions/download-artifact@v3
      with:
        name: my-artifact
    - uses: Azure/webapps-deploy@v2
      with:
        # Name of the Azure Web App
        app-name: animal-adoption-portal-dev
        # Applies to Web Apps(Windows and Linux) and Web App Containers(linux). Multi container scenario not supported. Publish profile (*.publishsettings) file contents with Web Deploy secrets
        publish-profile: ${{ secrets.PUBLISH_PROFILE_DEV }}
        # Enter an existing Slot other than the Production slot
        slot-name: production
        # Applies to Web App only: Path to package or folder. *.zip, *.war, *.jar or a folder to deploy
        package: .
    - uses: Azure/appservice-settings@v1
      with:
        # Name of the Azure Web App
        app-name: animal-adoption-portal-dev
        # Application settings using the JSON syntax set as value of secret variable: APP_SETTINGS
        app-settings-json: '[{ "name": "GlobalPassword", "value": "${{ secrets.GLOBAL_PASSWORD_DEV }}", "slotSetting": false }]'
